<h1>
    <a href="{{@blog.url}}">HAPPY<strong>ACCIDENTS</strong></a>

    <div class="social">
        <a href="https://twitter.com/philipobenito"><i class="fa fa-twitter-square fa-lg"></i></a>&nbsp;
        <a href="https://github.com/happyaccidents"><i class="fa fa-github-square fa-lg"></i></a>&nbsp;
        <a href="http://www.linkedin.com/profile/view?id=237947739"><i class="fa fa-linkedin-square fa-lg"></i></a>&nbsp;
        <a href="https://plus.google.com/u/0/111055449226917209804"><i class="fa fa-google-plus-square fa-lg"></i></a>
    </div>
</h1>
