@import url('normalize.css');
@import url('font-awesome.min.css');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300');
@import url('http://fonts.googleapis.com/css?family=Varela');

/*******************************************************************************
 Base
 *******************************************************************************/

body {
    background: #ecf0f1;
    color: #333;
    line-height: 25px;
    font-family: 'Roboto Slab', Georgia, serif;
    font-size: 14px;
    font-weight: 300;
}

p, ul, ol {
    padding: 0 40px;
    margin: 0 0 20px 0;
}

p:last-child, ul:last-child, ol:last-child {
    margin: 0;
}

a, a:visited, a:active {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
}

blockquote {
    padding: 40px 0;
    margin-bottom: 20px;
    background: #efefef;
}

/*******************************************************************************
 Type
 *******************************************************************************/

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Varela', sans-serif;
    font-weight: normal;
}

.articles h1, .articles h2, .articles h3, .articles h4, .articles h5, .articles h6, time {
    padding: 0 40px;
}

.logo h1 {
    display: inline-block;
    margin: 45px 20px 15px 20px;
    padding: 18px 15px 15px 25px;
    border: 4px solid #FFF;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: normal;
}

b, strong {
    font-weight: 400;
}

/*******************************************************************************
 Layout
 *******************************************************************************/

.header, .content, .footer {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #2c3e50;
    margin-top: 40px;
}

.header a, .header a:visited, .header a:active {
    color: #fff;
    text-decoration: none;
}

.logo {
    background-position: center center;
    color: #FFF;
    text-align: center;
}

.blog-description {
    padding-bottom: 32px;
}

.through-line {
    position: relative;
    margin: auto;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

.through-line:before {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 5px;
    width: 30px;
    height: 3px;
    background: #fff;
    content: "";
    vertical-align: middle;
}

.through-line:after {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 30px;
    height: 3px;
    background: #fff;
    content: "";
    vertical-align: middle;
}

.content {
    background: #fff;
    padding: 40px 0 0 0;
    margin-bottom: 40px;
}

.post {
    padding: 0 0 40px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #ecf0f1;
}

.post-header h2 {
    margin: 0;
}

time {
    font-family: 'Varela', sans-serif;
    color: #000;
}

.pagination {
    font-family: 'Varela', sans-serif;
    color: #000;
    text-align: center;
    padding-bottom: 40px;
}

.comments {
    padding: 40px 40px 0 40px;
    background: #2c3e50;
    color: #fff;
}

.articles img {
    max-width: 100%;
}

.author-image-inner {
    display: block;
    max-width: 90%;
    border: 5px solid #ddd;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.author-image {
    float: left;
    width: 18%;
}

.author-bio {
    float: right;
    font-size: 14px;
    width: 78%
}

.author-name {
    font-weight: bold;
}

.author-profile {
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    background-color: #ecf0f1;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #333;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 20px;
    margin: 0 40px 20px 40px;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #efefef;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 4px 5px 2px 5px;
    border-radius: .3em;
    border: 1px solid #bdc3c7;
    font-size: 14px;
    margin: 0 3px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #34495e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
    color: #777;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #c0392b;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #2980b9;
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}

@media screen and (max-width: 550px) {
    .header {
        margin-top: 0;
    }

    .header h1 {
        font-size: 14px;
    }
}


