@import url('http://fonts.googleapis.com/css?family=Comfortaa:400,300,700');

@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

@import url('../css/font-awesome.min.css');

@import url('../css/normalize.css');
/* Flat UI Colors */
/* Fonts */
/* Mixins */
body {
  min-height: 100%;
  height: auto !important;
  /* real browsers */

  height: 100%;
  /* IE6: treated as min-height*/

  margin: 0;
  padding: 0;
  line-height: 22px;
}
b,
strong {
  font-weight: 700;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */

}
a,
a:active,
a:visited {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #34495e;
}
.content {
  padding: 40px 0 40px 35%;
}
img {
  max-width: 100%;
}
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background: #2c3e50;
}
/* Code blocks */
pre[class*="language-"] {
  background: #2c3e50;
  margin: 0 0 40px 0;
  overflow: auto;
  padding: 1em;
}
pre[class*="language-"]::selection {
  /* Safari */

  background: #27292a;
  /* #282A2B */

}
pre[class*="language-"]::selection {
  /* Firefox */

  background: #27292a;
  /* #282A2B */

}
/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */

}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: rgba(237, 237, 237, 0.15);
  /* #EDEDED */

}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 5px 8px 3px 8px;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #95a5a6;
}
.token.punctuation {
  opacity: .7;
}
.namespace {
  opacity: .7;
}
.token.tag,
.token.boolean,
.token.number {
  color: #e74c3c;
}
.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
  color: #3498db;
}
.token.string {
  color: #95a5a6;
}
.token.operator {
  color: #ecf0f1;
}
.token.attr-name,
.token.attr-value,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f39c12;
}
.token.atrule {
  color: #7386a5;
  /* #7587A6 */

}
.token.regex,
.token.important {
  color: #e9c163;
  /* #E9C062 */

}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}
/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
  color: #ad895c;
  /* #AC885B */

}
/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
  position: relative;
  z-index: 1;
}
.line-highlight {
  background: -moz-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  background: -o-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  background: -webkit-linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  background: rgba(84, 84, 84, 0.25);
  background: linear-gradient(left, rgba(84, 84, 84, 0.1) 70%, rgba(84, 84, 84, 0));
  border-bottom: 1px dashed #545454;
  border-top: 1px dashed #545454;
  /* #545454 */

  left: 0;
  line-height: inherit;
  margin-top: 0.75em;
  /* Same as .prism’s padding-top */

  padding: inherit 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  white-space: pre;
  z-index: 0;
}
.line-highlight:before,
.line-highlight[data-end]:after {
  background-color: #8794a6;
  /* #8794A6 */

  border-radius: 999px;
  box-shadow: 0 1px white;
  color: #f5f2f0;
  /* #F5F2F0 */

  content: attr(data-start);
  font: bold 65%/1.5 sans-serif;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: .4em;
  vertical-align: .3em;
}
.line-highlight[data-end]:after {
  bottom: .4em;
  content: attr(data-end);
  top: auto;
}
.pagination {
  margin: 0 40px;
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  background: #7f8c8d;
  width: 35%;
  height: 100%;
}
header h1 {
  padding: 40px;
  margin: 0;
  color: #34495e;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1.5px;
}
header h1 a,
header h1 a:active,
header h1 a:visited {
  color: #34495e;
}
header h1 strong {
  font-weight: 400;
}
header h1 .social {
  float: right;
  font-size: 12px;
}
header h1 .social .fa {
  color: #34495e;
}
header h1.title {
  font-family: 'Arvo', Georgia, serif;
  font-size: 42px;
  letter-spacing: normal;
  line-height: 50px;
  color: #ecf0f1;
}
header .meta {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 40px;
  color: #34495e;
}
header .meta .fa {
  color: #c0392b;
}
header .meta a,
header .meta a:active,
header .meta a:visited {
  color: #34495e;
  text-decoration: none;
}
.articles .article {
  font-family: Verdana, sans-serif;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 0 40px 0;
  margin: 0 40px 40px 40px;
  border-bottom: 1px solid #e8e8e8;
}
.articles .article h2 {
  text-transform: none;
  font-family: 'Arvo', Georgia, serif;
  font-size: 27px;
  letter-spacing: normal;
  line-height: 35px;
  padding: 0;
  margin: 0;
}
.articles .article .fa {
  color: #c0392b;
}
.post {
  font-family: 'Arvo', Georgia, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #333;
  padding: 0 40px;
}
.post p,
.post blockquote,
.post ul,
.post ol {
  padding: 0;
  margin: 0 0 40px 0;
}
.post ul,
.post ol {
  padding: 0 0 0 20px;
}
.post ul li,
.post ol li {
  margin: 0 0 5px 0;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  color: #34495e;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  letter-spacing: 1.5px;
}
.post blockquote {
  border-left: 5px solid #34495e;
  padding: 20px;
}
.post blockquote p:last-child {
  margin: 0;
}
.post .author-profile {
  background: #ecf0f1;
  margin: 0 0 40px 0;
  padding: 40px;
  zoom: 1;
}
.post .author-profile .author-image {
  width: 10%;
  margin: 0 40px 0 0;
  float: left;
}
.post .author-profile .author-image img {
  border-radius: 50%;
  border: 5px solid #bdc3c7;
}
.post .author-profile .author-bio {
  float: left;
  width: 80%;
}
.post .author-profile .author-bio h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
}
.post .author-profile .author-bio p {
  margin: 0;
}
.post .author-profile:before {
  content: '';
  display: block;
}
.post .author-profile:after {
  content: '';
  display: table;
  clear: both;
}
.post .share {
  padding: 40px 0 0 0;
  margin: 40px 0 40px 0;
  border-top: 1px solid #e8e8e8;
  text-align: center;
}
.post .comments {
  background: #ecf0f1;
  padding: 40px;
}
