/*
    ================================================
    Slipmost theme for Ghost
    Created by Dmitriy S.
    GitHub Repo: https://github.com/bzhnyau/slimpost
    ================================================
*/

/* Icons from original Capser theme */

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
}

.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 12px;
    font-family: 'icons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
    padding: 7px;
    border-radius: 15px;
    color: #fff;
}

.icon-feed {
    background-color: #FAB28C;
}

.icon-feed:hover {
    background-color: #F59562;
    color: #fff;
}

.icon-twitter {
    background-color: #8ACEFF;
}

.icon-twitter:hover {
    background-color: #49B2FC;
    color: #fff;
}

.icon-google-plus {
    background-color: #D8684D;
}

.icon-google-plus:hover {
    background-color: #C2492F;
    color: #FFFFFF;
}

.icon-facebook {
    background-color: #637FBF;
}

.icon-facebook:hover {
    background-color: #38569C;
    color: #fff;
}

.icon-ghost:before {
    content: "\e000";
}

.icon-feed:before {
    content: "\e001";
}

.icon-twitter:before {
    content: "\e002";
    font-size: 1.1em;
}

.icon-google-plus:before {
    content: "\e003";
}

.icon-facebook:before {
    content: "\e004";
}

body {
    background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6 {
    color: #34495e;
}

pre {
    padding: 15px 20px;
    margin: 0 0 20px 0;
    border: 1px solid #f1f1f1;
    background: #ecf0f1;
    color: #333;
    font-size: 13px;
    font-family: Monaco, Consolas, monospace;
}

a {
    display: inline-block;
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #c0392b;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

blockquote {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 15px;
    border-left: 7px solid #34495e;
    background: #ecf0f1;
}

article {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
}

hr {
    height: 11px;
    border: none;
    background: #fff url('../images/hr.png') no-repeat scroll center;
    color: transparent;
}

.wrapper {
    margin: 50px auto 0 auto;
    padding: 50px 50px 40px 50px;
    width: 550px;
    background-color: #fff;
}

.logo {
    margin-bottom: 20px;
    background-color: #2c3e50;
    background-position: center center;
    color: #fff;
    text-align: center;
}

.logo h1 {
    display: inline-block;
    margin: 45px 20px 15px 20px;
    padding: 20px 15px 15px 25px;
    border: 4px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: normal;
}

.logo h1 a {
    color: #fff;
}

.articles {
    color: #555;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    line-height: 25px;
}

.post-header h2 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 26px;
}

.post-header time {
    color: #777;
}

.post-header {
    padding: 10px 0 0px 0;
}

.post-header h2 a {
    color: #34495e;
    text-decoration: none;
}

.post-header h2 a:hover {
    color: #c0392b;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.post img {
    margin-left: -50px;
    max-width: 650px;
}

.pagination {
    color: #888;
    text-align: center;
}

.blog-description {
    padding-bottom: 32px;
}

.through-line {
    position: relative;
    margin: auto;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
}

.through-line:before {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 5px;
    width: 30px;
    height: 3px;
    background: #fff;
    content: "";
    vertical-align: middle;
}

.through-line:after {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 30px;
    height: 3px;
    background: #fff;
    content: "";
    vertical-align: middle;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.poweredby {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #888;
    text-align: center;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}

.poweredby A {
    padding: 5px;
    background: #D9D5CC;
    color: #888;
}

.social-links {
    margin-top: -15px;
}

.social-links-inner {
    background: #fff;
    display: inline-block;
    padding: 0 15px;
}

.social-links-hr {
    height: 3px;
    background-color: #ccc;
}

.author-image-inner {
    display: block;
    max-width: 90%;
    border: 5px solid #ddd;
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
}

.author-image {
    float: left;
    width: 18%;
}

.author-bio {
    float: right;
    font-size: 14px;
    width: 78%
}

.author-name {
    font-weight: bold;
}

.author-profile {
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    background-color: #f7f7f7;
}

.clearfix {
    clear: both;
}

/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
    color: white;
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
    background:#2c3e50; /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}
pre[class*="language-"]::selection { /* Safari */
    background:hsl(200, 4%, 16%); /* #282A2B */
}
pre[class*="language-"]::selection { /* Firefox */
    background:hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: hsla(0,0%,93%,0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: hsla(0,0%,93%,0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    border-radius: .3em;
    padding: 4px 5px 2px 5px;
    font-size: 14px;
    margin: 0 3px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: hsl(0, 0%, 47%); /* #777777 */
}

.token.punctuation {
    opacity: .7;
}

.namespace {
    opacity: .7;
}

.token.tag,
.token.boolean,
.token.number {
    color: hsl(14, 58%, 55%); /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
    color:hsl(53, 89%, 79%); /* #F9EE98 */
}
.token.attr-name,
.token.attr-value,
.token.string,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color:hsl(76, 21%, 52%); /* #8F9D6A */
}

.token.atrule {
    color:hsl(218, 22%, 55%); /* #7587A6 */
}

.token.regex,
.token.important {
    color: hsl(42, 75%, 65%); /* #E9C062 */
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation  {
    color: hsl(33, 33%, 52%); /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
    position:relative;
    z-index:1;
}
.line-highlight {
    background: -moz-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
    background: -o-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
    background: -webkit-linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
    background: hsla(0, 0%, 33%, 0.25); /* #545454 */
    background: linear-gradient(left, hsla(0, 0%, 33%,.1) 70%, hsla(0, 0%, 33%,0)); /* #545454 */
    border-bottom:1px dashed hsl(0, 0%, 33%); /* #545454 */
    border-top:1px dashed hsl(0, 0%, 33%); /* #545454 */
    left: 0;
    line-height: inherit;
    margin-top: 0.75em; /* Same as .prism’s padding-top */
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index:0;
}
.line-highlight:before,
.line-highlight[data-end]:after {
    background-color: hsl(215, 15%, 59%); /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: hsl(24, 20%, 95%); /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
}
.line-highlight[data-end]:after {
    bottom: .4em;
    content: attr(data-end);
    top: auto;
}
